* { margin: 0; padding: 0; }

html { font-family: arial, helvetica, sans-serif; font-size: 62.5%; cursor: default; }

#top { height: 30px; border-bottom: 1px solid #666; }
#navigation { background: #ccc; border-bottom: 1px solid #666; height: 30px; font-size: 1.6em; }
#navigation ul { list-style-type: none; }
#navigation ul li { padding: 5px; border-right: 1px solid #026; border-left: 1px solid #68b; float: left; background: #359; height: 20px; color: #fff; }
#navigation a { color: #fff; text-decoration: none; }
#navigation ul ul { position: absolute; margin-top: 6px; margin-left: -6px; display: none; border-bottom: 1px solid #666; }
#navigation ul ul li { display: block; width: 140px; border: 1px solid #666; background: #ccc; clear: left; border-bottom: none; padding: 0; height: 28px; }
#navigation ul ul li a { color: #000; text-decoration: none; padding: 5px; display: block; }
#navigation ul ul li a:hover { color: #fff; background: #aaa; }
#navigation li.logout { background: #9F4545; float: right; }

#tree { float: left; width: 25%; font-size: 1.6em; }
#innerTree { padding: 10px; }
#tree ul { list-style-type: none; }
#tree li { padding: 5px 0; background: url(../images/icons/icon-content.png) 0 5px no-repeat; }
#tree li.hasChildren { background-image: url(../images/icons/icon-content-open.png); }
#tree li.hasChildren.open { background-image: url(../images/icons/icon-content-close.png); }
#tree li span.name { padding-left: 4px; cursor: pointer; color: #359; }
#tree li span.name span.icon { display: block; float: left; width: 22px; height: 22px; }
#tree li span.name:hover { color: #000; }
#tree li span.id { font-style: italic; color: #aaa; font-size: 0.8em;  }
#tree li span.selected { font-weight: bold; color: #000; }
#tree ul ul { margin-left: 1em; }
.innerTree { margin-top: 5px; }
.innerTree img { margin-left: 30px; }

#treeNavigation li { background: none; }
#treeNavigation li a { background-position: 3px 3px; }

#content { float: left; width: 75%; }
#innerContent { padding: 10px; }

h1, h2, h3 { font-size: 3em; font-weight: normal; color: #999; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; margin-bottom: .5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; color: #000; }

p.description { font-size: 1.6em; color: #999; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; margin-bottom: .5em; line-height: 1.6em; font-style: italic; }

table { width: 100%; border-collapse: collapse; font-size: 1.4em; margin-bottom: 1em; }
th { text-align: left; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #fff; background: #359; border: 1px solid #026; padding: 5px; vertical-align: top; }
th.actions { width: 56px; }
td { border: 1px outset #ccc; padding: 5px; vertical-align: top; }
tr.delimiter td { height: 5px; padding: 0; font-size: 1px; border-left: none; border-right: none; }
a.edit, a.duplicate, a.delete, a.move    { display: inline-block; width: 16px; height: 16px; text-indent: -1000em; outline: none; }
table a.edit      { background: url(../images/icons/icon-edit.png); }
table a.duplicate { background: url(../images/icons/icon-copy.png); }
table a.delete    { background: url(../images/icons/icon-delete.png); }
table a.move      { background: url(../images/icons/icon-move.png); }
table a.move.inactive { background-color: #eee; border-color: #ccc; }
td.content_actions a { text-indent: 0; padding: 5px; padding-left: 26px; width: auto; background-position: 5px 5px; background-repeat: no-repeat; margin-right: 5px; background-color: #ccc; color: #fff; font-weight: bold; text-shadow: #000000 0 0 3px; text-decoration: none; border: 1px solid #999; -moz-border-radius: 5px; }

table input[type=text] { width: 300px; }
textarea { width: 400px; height: 100px; }
input[readonly] { color: #999; font-weight: bold; }
table input.small { width: 50px; }
a.selectParent { padding: 3px; background: #ccc; color: #fff; text-shadow: #000000 0 0 3px; text-decoration: none; border: 1px solid #999; -moz-border-radius: 5px; }
a.selectParent span { color: #000; text-shadow: none; font-style: italic; font-size: 0.8em; }

a.add { margin: auto; display: block; width: 200px; height: 20px; outline: none; background: #359 url(../images/icons/icon-new.png) 7px 7px no-repeat; font-size: 1.6em; color: #fff; text-decoration: none; padding: 5px; padding-left: 30px; margin-bottom: 1em; font-weight: bold; text-shadow: #000000 0 0 5px; }
a.addContent { display: block; width: auto; background: url(../images/icons/icon-add.png) no-repeat; color: #359; text-decoration: none; padding: 2px 0 2px 20px; text-indent: 0; }
a.addContent:hover { color: #333; background-color: #eee; }
a.switchLanguage { text-indent: 0; width: auto; color: #359; padding: 5px; margin: 0; margin-right: 5px; text-decoration: none; background-repeat: no-repeat; background-position: 5px 8px; -moz-border-radius: 5px; }
a.switchLanguage:hover { background-color: #ccc; }
a.switchLanguage.active { color: #fff; background-color: #359; }

a.orderSmaller, a.orderBigger { text-decoration: none; color: #fff; font-weight: bold; padding: 3px 5px; background: #ccc; border: 1px solid #999; -moz-border-radius: 5px; text-shadow: #000000 0 0 3px; }

#footer { float: left; clear: both; height: 30px; border-top: 1px solid #666; width: 100%; }

.addOption { border: 1px solid #999; padding: 5px; background: #ccc; }

.option { border: 1px solid #ccc; padding: 5px; margin-bottom: 5px; }
.option span.options { float: right; }
.options span.moveUp   { display: block; float: left; width: 22px; height: 22px; text-indent: -1000em; cursor: pointer; background: url(../images/icons/icon-up.png) no-repeat; }
.options span.moveDown { display: block; float: left; width: 22px; height: 22px; text-indent: -1000em; cursor: pointer; background: url(../images/icons/icon-down.png) no-repeat; }
.options span.remove   { display: block; float: left; width: 22px; height: 22px; text-indent: -1000em; cursor: pointer; background: url(../images/icons/icon-remove.png) no-repeat; }
.options span.placeHolder { display: block; float: left; width: 22px; height: 22px; }
.addOption select { width: 300px; }

label.allowed { margin-bottom: 5px; display: block; }

#loading { text-align: center; font-size: 1.2em; width: 180px; padding: 10px; border: 1px solid #ccc; position: absolute; left: 50%; margin-left: -100px; top: 20%; display: none; background: #fff;  -moz-border-radius: 5px; }
#message { background: #FFE87F; border: 1px solid #FFD100; padding: 10px; font-size: 1.2em; -moz-border-radius: 5px; display: none; }
img.loading { position: relative; top: 3px; left: 3px; display: none; }