* { margin: 0; padding: 0; }

html { background: #fff; font-family: Georgia, serif; font-size: 62.5%; }

#navigation { background: #333; padding: 5px 10px 20px 10px; height: 24px; }
#navigation ul { list-style-type: none; }
#navigation li { float: left; }
#navigation li.logout { float: right; }
#navigation a { display: block; font-size: 1.4em; color: #ccc; text-decoration: none; padding: 10px; text-shadow: 1px 1px 0px #000; }
#navigation a:hover { color: #fff; }
#navigation ul ul { display: none; }
#navigation ul ul { position: absolute; display: none; border-bottom: 1px solid #666; }
#navigation ul ul li { display: block; width: 180px; border: 1px solid #666; background: #ccc; clear: left; border-bottom: none; padding: 0; height: auto; }
#navigation ul ul li a { color: #333; text-decoration: none; padding: 5px 1em 5px 1em; height: auto; display: block; text-align: left; text-shadow: none; }
#navigation ul ul li a:hover { color: #fff; background: #A6D0E7; }

#tree { background: #ddd; width: 25%; float: left; font-size: 1.4em; overflow: auto; }
#tree a { color: #000; text-decoration: none; }

#treeNavigation { padding: 20px; border-bottom: 1px dotted #333; }
#treeNavigation ul { list-style-type: none; }

#innerTree { padding: 20px; margin-bottom: 20px; }
#innerTree ul { list-style-type: none; }
#innerTree var { display: none; }
#innerTree a { padding: 3px 0; }
#innerTree a.clicked, #innerTree a:hover { background: #333; color: #fff; }
#innerTree a.clicked span.id, #innerTree a:hover span.id { color: #fff; }

#content { float: left; width: 75%; }

#innerContent { padding: 20px; }
#innerContent table { border-collapse: collapse; font-size: 1.4em; width: 100%; margin-bottom: 10px; }
#innerContent th, #innerContent td { text-align: left; vertical-align: top; border-bottom: 1px solid #ccc; padding: 5px 0; }
#innerContent th { padding-right: 5px; border-right: 1px solid #ccc; color: #666; padding-left: 5px; }
#innerContent tr.option th { color: #000; background: #eee; }
#innerContent td { padding-left: 5px; }

#innerContent table.items tr.hover { background: #eef; cursor: pointer; }
#innerContent table.items a { color: #ccc; }
#innerContent table.items tr.hover a { color: #00f; }

#innerContent input[type=text] { border: 1px inset #666; padding: 2px; width: 300px; }
#innerContent textarea { border: 1px inset #666; padding: 2px; width: 500px; height: 100px; }

h1, h2, h3 { font-size: 3em; font-weight: normal; font-style: italic; margin-bottom: 10px; color: #333; }
h2 { font-size: 2em; }
h3 { font-size: 1.6em; color: #000; }

p.description { font-size: 1.6em; color: #999; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; margin-bottom: .5em; line-height: 1.6em; font-style: italic; }

td.content_actions a { margin-right: 1em; background-repeat: no-repeat; padding-left: 20px; color: #00f; }
td.content_actions a:hover { background-color: #eee; }
td.content_actions a.edit      { background-image: url(../images/icons/icon-edit.png); }
td.content_actions a.duplicate { background-image: url(../images/icons/icon-copy.png); }
td.content_actions a.delete    { background-image: url(../images/icons/icon-delete.png); }

/* Error: */
tr.error, td.error { background: #f00; color: #fff; }

/* Tooltip: */
span.tooltip { float: right; display: block; padding: 0 3px; border: 1px solid #0084ff; font-size: 0.8em; margin-left: 10px; cursor: help; }
span.tooltipContent { position: absolute; color: #999; background: #fff; border: 1px solid #999; padding: 5px; font-size: 0.8em; right: 0; width: 200px; display: none; font-weight: normal; font-style: italic; }

/* Datepicker: */
input.datePicker { background: url(calendar.png) 283px 0 no-repeat; }

/* Required fields: */
input.error { border-color: #f00; background: #fee; }

table input[type=text] { width: 300px; }
textarea { width: 400px; height: 100px; }
input[readonly] { color: #999; font-weight: bold; }
table input.small { width: 50px; }
a.selectParent { padding: 3px; background: #ccc; color: #fff; text-shadow: #000000 0 0 3px; text-decoration: none; border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
a.selectParent span { color: #000; text-shadow: none; font-style: italic; font-size: 0.8em; }

a.add { outline: none; background: #ccc url(../images/icons/icon-new.png) 7px 7px no-repeat; font-size: 1.6em; color: #fff; text-decoration: none; padding: 5px; padding-left: 30px; font-weight: bold; text-shadow: #000000 0 0 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
a.add:hover { background-color: #333; }
a.addContent { display: block; width: auto; background: url(../images/icons/icon-add.png) no-repeat; color: #359; text-decoration: none; padding: 2px 0 2px 20px; text-indent: 0; }
a.addContent:hover { color: #333; background-color: #eee; }
a.switchLanguage { margin-right: 1em; }
/*
a.switchLanguage { text-indent: 0; width: auto; color: #359; padding: 5px; margin: 0; margin-right: 5px; text-decoration: none; background-repeat: no-repeat; background-position: 5px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
a.switchLanguage:hover { background-color: #ccc; }
a.switchLanguage.active { color: #fff; background-color: #359; }
a.orderSmaller, a.orderBigger { text-decoration: none; color: #fff; font-weight: bold; padding: 3px 5px; background: #ccc; border: 1px solid #999; text-shadow: 0 0 3px #000000;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
*/

#footer { float: left; clear: both; height: 10px; background: url(footer.png) repeat-x; padding: 10px 0; width: 100%; text-indent: 10px; }
#footer a { color: #888; text-decoration: none; }
#footer a:hover { color: #000; }
#footer span { float: right; padding-right: 10px; }

.addOption { border: 1px solid #999; padding: 5px; background: #ccc; }

#optionsField .option { border: 1px solid #ccc; padding: 5px; margin-bottom: 5px; }

.option span.options { float: right; }
.options span.moveUp   { display: block; float: left; width: 22px; height: 22px; text-indent: -1000em; cursor: pointer; background: url(../images/icons/icon-up.png) no-repeat; }
.options span.moveDown { display: block; float: left; width: 22px; height: 22px; text-indent: -1000em; cursor: pointer; background: url(../images/icons/icon-down.png) no-repeat; }
.options span.remove   { display: block; float: left; width: 22px; height: 22px; text-indent: -1000em; cursor: pointer; background: url(../images/icons/icon-remove.png) no-repeat; }
.options span.placeHolder { display: block; float: left; width: 22px; height: 22px; }
.addOption select { width: 300px; }

label.allowed { margin-bottom: 5px; display: block; }

#loading { text-align: center; font-size: 1.2em; width: 180px; padding: 10px; border: 1px solid #ccc; position: absolute; left: 50%; margin-left: -100px; top: 20%; display: none; background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#message { background: #FFE87F; border: 1px solid #FFD100; padding: 10px; font-size: 1.2em; /* float: left; */ display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#messages { font-size: 1.2em; padding: 10px; position: relative; z-index: 1; }
#messages ul { position: relative; left: 2em; list-style-type: square; }
#messages li { font-weight: bold; }
#messages li.error { color: #800; }
#messages li.ok { color: #080; }
#messages li.info { color: #008; }
img.loading { position: relative; top: 3px; left: 3px; display: none; }

/* Dashboard: */
#dashboard { height: 100px; border-top: 3px double #ccc; padding-top: 10px; }
#dashboard .left { width: 49%; float: left; min-height: 1px; margin-right: 1%; }
#dashboard .right { width: 49%; float: left; min-height: 1px; margin-left: 1%; }
#dashboard .item { padding: 0; }
#dashboard a { color: #00f; }
#innerContent tr.hover { background: #eef; cursor: pointer; }

/* Modules: */
.module p { font-size: 1.2em; margin-bottom: 1em; }
.module a.button { text-indent: 0; padding: 5px; width: auto; background-color: #ccc; color: #fff; font-weight: bold; text-shadow: #000000 0 0 3px; text-decoration: none; border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.module ul, .module ol { font-size: 1.2em; margin-left: 2em; margin-bottom: 1em; }
.module li.ok { color: #080; }
.module li.error { color: #800; font-weight: bold; }
.module label { font-size: 1.2em; display: block; }
.module hr { border: none; border-bottom: 1px solid #ccc; margin-bottom: 1em; }
.module ul.tabMenu { margin: 0; list-style-type: none; display: block; height: 26px; }
.module ul.tabMenu li { float: left; margin-right: 5px; }
.module ul.tabMenu li a { display: block; padding: 5px; border: 1px solid #ccc; color: #000; text-decoration: none; outline: none; background: #eee;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius-topleft: 5px;
	-webkit-border-radius-topright: 5px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
}
.module ul.tabMenu li a:hover { color: #666; }
.module ul.tabMenu li a.active { border-bottom: 1px solid #fff; background: #fff; }
.module .tab { border: 1px solid #ccc; padding: 10px; }

tr.alias { display: none; }


